In [1]:
_sales = "Select ([Department].[Department_ID] * [Store].[Store_ID] * [Time].[Day] * [Version].[Version Name] ) on row, ({Measure.[Weekly Sales]}) on column limit 10;"

from o9_common_utils.O9DataLake import O9DataLake, ResourceType, DataSource
sales = O9DataLake.register("sales",DataSource.LS, ResourceType.IBPL, _sales)

INFO:root:IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/ibplquery/6324/ExecuteCompactJsonQuery]
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
DEBUG:urllib3.connectionpool:https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/6324/ExecuteCompactJsonQuery HTTP/1.1" 200 None
INFO:root:IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/ibplquery/6324/ExecuteCompactJsonQuery]
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
DEBUG:urllib3.connectionpool:https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/6324/ExecuteCompactJsonQuery HTTP/1.1" 200 None

In [2]:
sales = O9DataLake.get("sales")
sales.head()

INFO:root:IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/ibplquery/6324/ExecuteCompactJsonQuery]
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
DEBUG:urllib3.connectionpool:https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/6324/ExecuteCompactJsonQuery HTTP/1.1" 200 None
INFO:root:IbplClient: WebApi Request Url = [https://mygenieazure.o9solutions.com/api/ibplquery/6324/ExecuteCompactJsonQuery]
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): mygenieazure.o9solutions.com:443
DEBUG:urllib3.connectionpool:https://mygenieazure.o9solutions.com:443 "POST /api/ibplquery/6324/ExecuteCompactJsonQuery HTTP/1.1" 200 None

,Department.[Department_ID],Store.[Store_ID],Time.[Day],Version.[Version Name],Weekly Sales
0,10,1,11/11/2011,CurrentWorkingView,32346.539062
1,11,1,11/11/2011,CurrentWorkingView,23541.720703
2,13,1,11/11/2011,CurrentWorkingView,37255.890625
3,14,1,11/11/2011,CurrentWorkingView,14903.780273
4,16,1,11/11/2011,CurrentWorkingView,5913.029785

In [3]:
output = sales
output["Fcst"] = sales["Weekly Sales"]/10
output.drop(columns=["Weekly Sales"], inplace=True)
output.head()

,Department.[Department_ID],Store.[Store_ID],Time.[Day],Version.[Version Name],Fcst
0,10,1,11/11/2011,CurrentWorkingView,3234.653809
1,11,1,11/11/2011,CurrentWorkingView,2354.172119
2,13,1,11/11/2011,CurrentWorkingView,3725.589111
3,14,1,11/11/2011,CurrentWorkingView,1490.378052
4,16,1,11/11/2011,CurrentWorkingView,591.302979

In [4]:
O9DataLake.put("output", output)